.git/
.github/
.local/
.env*
**/.env*
**/.DS_Store
bin/
build/
coverage*
**/coverage/
**/*.coverprofile
**/node_modules/
web/dist/
tools/
assets/images/
assets/map/README.md
**/*_test.go
web/src/**/*.test.ts
web/src/**/*.test.tsx
web/src/test/
Dockerfile*
compose.yml
CONTRIBUTING.md
DEVELOPMENT.md
LICENSE
Makefile
README.md
SECURITY.md
